.domains {
    margin-bottom: $margin-blocks;

    &__wrap {
        @include phone-wrap;
    }

    &__inner {
        @include phone-inner;
    }

    &__title {
        @include reset;
        @include title-font;
        color: $midnight-blue;
        font-size: 24px;
        line-height: 26px;
    }

    &__content {
        color: $content-color;
        line-height: 18px;
        margin-bottom: 40px;
    }

    &__list {
        @include reset;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__item {
        min-width: 130px;
        min-height: 70px;
        box-shadow: 0px 7px 10px 0px $shadow-black;
        margin-bottom: 25px;
        background-image: linear-gradient( 120deg, rgb(242,242,242) 0%, rgb(253,253,253) 74%);          
        transition: .2s;

        &:hover {
            background-image: linear-gradient( -45deg, rgb(242,242,242) 0%, rgb(253,253,253) 74%);          
        }
        
        &:active {
            background-image: linear-gradient( -45deg, rgb(218, 218, 218) 0%, rgb(253,253,253) 74%);
        }
    }

    &__link {
        @include reset;
        @include title-font;
        font-size: 16px;
        line-height: 26px;
        color: $content-color;
        
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 100%;
    }

    &__button {
        @include button-reset;
        @include title-font;       
        color: $white;
        background-color: $carrot;

        padding: 15px 30px;

        cursor: pointer;
        transition: .2s;

        &:hover {
            background-color: $carrot-dark;
        }

        &:active {
            background-color: $carrot-active;
        }
    }

    &__text {
        @include title-font; 
    }

    &__text a {
        @include reset;
        color: $content-color;
        font-weight: bold;
        transition: .2s;
        
        &:hover {
            text-decoration: underline;
            color: $carrot;
        }

        &:active {
            color: $carrot-active;
        }
    }

    @media (min-width: $tablet-width) {
        &__wrap {
            @include tablet-wrap;
        }
    }

    @media (min-width: $desktop-width) {
        &__wrap {
            @include desktop-wrap;
        }

        &__list {
            margin-bottom: 54px;
        }

        &__item {
            min-width: 180px;
            min-height: 80px;
        }

        &__link {
            font-size: 18px;
            line-height: 26px;
        }

        &__button {
            font-size: 16px;
            line-height: 26px;
            padding: 14px 38px;
            margin-bottom: 21px;
        }
    }
}