.footer {
    padding-bottom: $padding-blocks;
    &__wrap {
        @include phone-wrap;
    }

    &__inner {
        @include phone-inner;
    }

    &__info {
        @include reset;
        @include title-font;
    }

    @media (min-width: $tablet-width) {
        &__wrap {
            @include tablet-wrap;
        }
    }

    @media (min-width: $desktop-width) {
        &__wrap {
            @include desktop-wrap;
        }

        &__info {
            width: 850px;
            margin: 0 auto;
        }
    }
}