.logo {
    &__wrap {
        @include phone-wrap;
    }

    &__inner {
        @include phone-inner;
    }

    &__subtitle {
        @include reset;
        text-align: center;
        color: $content-color;
        @include content-font;
        line-height: 20px;
        margin-top: $margin-blocks /2;
        margin-bottom: $margin-blocks /2;
    }

    &__images-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;        
    }

    &__image-link {
        width: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .2s;
    }

    &__image-link:hover {
        box-shadow: 0 1px 25px rgba(0, 0, 0, 0.05), 0 1px 13px rgba(0, 0, 0, 0.10);
    }

    @media (min-width: $desktop-width) {
        &__wrap {
            @include desktop-wrap;
        }

        &__subtitle {
            margin-top: $margin-blocks;
        }

        &__images-wrap {
            margin-bottom: 120px;
        }
    }
}
