$white: #ffffff;
$content-color: #333333;
$midnight-blue: #003770;
$desktop-width: 1170px;
$shadow-black: rgba(0, 0, 0, 0.09);
$carrot: #ff6a25;
$carrot-dark: #ce541b;
$carrot-active: #9b431a;
$margin-blocks: 70px;
$padding-blocks: 70px;